@charset "utf-8";

li {
	list-style: none;
}

hr {
    margin: 5px 0 0 0 !important;
}
.no-padding{padding :0px;}
.bottom-10{padding-bottom: 10px;}


.show-short-view{
  height: 78px !important;
  overflow: hidden !important;
}

.show-large-view{
  height: auto !important;
  overflow: hidden !important;
}

.cursor-pointer{
  cursor: pointer;
}

.main-search-box{
	min-width: 400px;
	}

.container {
	width: auto !important;
	margin: 20px auto !important;
}

.results {
	color: #808080 !important;
}

.highlighted{
	font-weight: 700;
	color:green;
	background-color:yellow;
}

.facetitem{
    color:#286090 !important;
    background-color:white !important;
    font-size: 20px !important;
}

 .col-md-3, .col-md-9 {
        float: left;
    }
    .col-md-9 {
        width: 87%;
        height: 50%;
    }
    .col-md-3 {
        width: 13%;
        height: 50%;
        
    }
    

}
